* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 2rem;
	background-color: #222;
	color: #ddd;
	font-family: 'Teko', sans-serif;
}

html,
body {
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #000;
}

h1 {
	display: block;
	width: 100%;
	text-align: center;
	font-weight: 300;
}

label {
	display: block;
}

input {
	font-size: 1.3rem;
}

#loading {
	text-align: center;
	padding-bottom: 1rem;
}

#rendering {
	text-align: center;
	padding: 1rem;
}

#formula {
	width: 75%;
	margin-left: 1rem;
	padding-left: 0.2rem;
	letter-spacing: 0.1rem;
	line-height: 30px;
	border: none;
	border-bottom: 1px solid #ddd;
}

#range-thumb {
	height: 6px;
	background-color: #000;
}

#range {
	height: 40%;
}

.content {
	width: 700px;
	max-width: 100%;
	padding: 0 1rem 0 1rem;
	border: 1px solid #ddd;
}

.section {
	width: 100%;
	margin: 1rem 0 1rem 0;
}

.fcol-m {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.frow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.adsr-control {
	width: 25%;
	line-height: 30px;
}

.adsr-time {
	border: 1px solid #000;
	padding-left: 0.2rem;
	line-height: 40px;
	background-color: #ddd;
	color: #222;
	height: 1.5rem;
}

.adsr-width {
	width: 100%;
	max-width: 100%;
}

.adsr-width-half {
	width: 50%;
	max-width: 50%;
}

.adsr-curve {
	display: block;
	width: 100%;
	height: 3rem;
	border: 1px solid #000;
	/*cursor: pointer;*/
	z-index: 1;
	position: relative;
}

.adsr-svg {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #ddd;
}

.play-svg {
	height: 2em;
	display: block;
	height: 100%;
	margin: 0 auto;
}

.shape {
	fill: #ddd;
	stroke: #ddd;
	stroke-miterlimit: 10;
}

.hidden {
	display: none;
}

.pbd {
	width: 30%;
	height: 2rem;
	/*border: 1px solid #ddd;*/
	border: none;
	text-align: center;
	cursor: pointer;
	line-height: 60px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

input[type=number] {
	-moz-appearance: textfield;
}

.range-bg {
	background-color: #ddd;
}

.range-fill {
	background-color: #ddd;
	height: calc(100% - 6px);
}

.atk-crv {
	fill: none;
	stroke: #000;
	stroke-miterlimit: 10;
	stroke-width: 6px;
}

@media (max-width: 550px) {
	* {
		font-size: 1.6rem;
	}

	.fcol-m {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	#formula {
		margin: 0;
		width: 100%;
	}

	.content {
		padding: 0 0.3rem 0 0.3rem;
	}

	input {
		font-size: 1rem;
	}
}